

*{
    padding: 0;
    margin: 0;
    
}


.container{
    
}
.overley{
   display: flex;
    justify-content: space-between;
    margin: 60px;

}
.overlay-fead{
    position: relative;
}
.overlay-fead img{
    width: 100%;
    height: auto;
    display: block;
   
  
    

}

.overlay-fead h3{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
   background-color: rgba(220, 20, 60, 0.362);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.5s ease-in-out;
    opacity: 0;
    text-transform: uppercase;
}

.overlay-fead:hover h3{
    opacity: 1;
    color: aliceblue;
}
.overlay-fead2{
    position: relative;
}
.overlay-fead2 img{
    width: 100%;
    height: auto;
    display: block;
   
  
}
.overlay-fead2 h3{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 206, 209, 0.47);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.6s ease-in-out;
    opacity: 0;
    text-transform: uppercase;
}

    
.overlay-fead2:hover h3{
    opacity: 1;
    color: aliceblue;
}